mixin about_trainings
	+b#about.about.indent
		+b.title.wow.slideInLeft
			+e.IMG.img(src="img/school.svg")
			+e.H2.text О дресс-центре
		hr.del-black
		+e.content.content
			p Кинологическая культура, взаимоотношения с собаководами и не владельцами собак. Как вести себя интеллигентно и правильно во избежание конфликтных ситуаций. Нормативные документы по содержанию собак в городе. Требования безопасности в различных жизненных ситуациях и многое, многое другое…Причин, по которым вы хотите приобрести собаку, достаточно много и все они по своему разнообразны. Иногда они конкретно определены, иногда переплетаются между собой. Главное для вас помнить об ответственности за живое существо!
	+b#trainings.trainings.indent
		+b.title.wow.slideInLeft
			+e.IMG.img(src="img/dog.svg")
			+e.H2.text Тренировки
		hr.del-black
		+e.types
			+e.type
				+e.img
					img(src="img/Снимок экрана 2019-08-07 в 02.45.42.png")
				h3 Групповые тренировки
				p Команда кинологического клуба проводит групповую дрессировку собак. Программа включает общий курс дрессировки, помогает животному социально адаптироваться в среде
				span Узнать больше...
			+e.type
				+e.img
					img(src="img/66455478_2306172896365502_2376296707844472832_o.jpg")
				h3 Индивидуальные тренировки
				p Команда кинологического клуба проводит индивидуальную дрессировку собак. Опытный кинолог разработает специальную программу для каждой собаки
				span Узнать больше...
			+e.type
				+e.img
					img(src="img/54728185_2234453540204105_5029285456689233920_n.jpg")
				h3 Спортивные тренировки
				p Специалисты кинологического клуба предлагают дрессировку собак на защиту. Пройдя курс в нашем клубе, ваш пес сможет открыть в себе новые качества
				span Узнать больше...