mixin form_singIn
	+b.form_cont
		form(class="form" name="question" action="")
			p Записаться на занятие:
			input(type="text" placeholder="name")
			input(type="number" placeholder="tel")
			input(type="text" placeholder="breed dog")
			button отправить