mixin header
	+b.HEADER.indent
			+b.logo
				+e.IMG.img(src="img/paw-print-.svg")
				+e.text
					h1 ЦИПВС "КАНТОР"
			+b.contmenu
				+e.NAV.menu
					a(href="#about") Главная
					a(href="#trainings") Занятия
					a(href="#normative") Сдача нормативов
					a(href="#inventory") Инвентарь
					a(href="#footer") Контакты
					p.tel Киев, +380000000000
			+b.more
				+e.line
				+e.line
				+e.line