mixin inventory
	+b#inventory.inventory.indent
		+b.title.wow.slideInLeft
			img.title__img(src="img/bone.svg")
			+e.H2.text Инвентарь
		hr.del-black
		+b.content
			p Амуниция для собаки - как одежда для Вас.Она должна быть удобной, практичной, надежной, красивой и при этом - доступной.Позвольте нам одеть Вашу собаку так, чтобы выделяться в толпе не кричащей безвкусицей ширпотреба, но элегантной красотой, удобством и проверенной временем надежностью классики.Не покупайте дорогое, покупайте лучшее!
		+e.items
			+e.item
				+e.title
					h2 Стек Колесова
					+e.IMG.img(src="img/66335277_2994440743930184_1613138206834819072_n.jpg")
				+e.content
					p Cтек-плетка для дрессировки собак ТМ IPO4YOUСтек-плетка используется с целью повышения драйва собаки в защитном тренинге, а также для отработки упражнений по послушанию.
					p Особенности модели:гибкий пластиковый стержень, обтянутый спилком кожипетля для более удобного и надежного удержаниякожаный съемный хлыст, сняв который изделие можно использовать как стек
			+e.item
				+e.title
					h2 Импульсный ошейник
					+e.IMG.img(src="img//5cdd624c021b4c021f6263b3-750-750.jpg")
				+e.content
					p Электронный ошейник — устройство для электро-стимуляции на расстоянии, которую можно успешно применять для дрессировки и дистанционного контроля за поведением собаки
					p нировки охотничьих собак. ОКД, сдерживание собаки на территории, а также при подготовке служебных и полицейских собак.