mixin main_screen 
	+b.cont.indent
			+e.title-main
				h1.wow.fadeInLeft Дресс-центр "Кантор" Александра Колесова
				h1.wow.fadeInRight Жизнь и здоровье Вашего питомца в Ваших руках
			+b.kindsTrain
				hr.del-white
				+e.items
					a.wow.zoomIn(href="#trainings") Групповые тренировки
					.line-vertical
					a.wow.zoomIn(href="#trainings" data-wow-delay="0.2s") Индивидуальные тренировки
					.line-vertical
					a.wow.zoomIn(href="#trainings" data-wow-delay="0.4s") Спортивные тренировки