mixin normative
	.pictures2
	+b#normative.normative.indent
		+b.title.wow.slideInLeft
			+e.IMG.img(src="img/trophy.svg")
			+e.H2.text Подготовка к нормативным испытаниям
		hr.del-black
		+e.content.content
			p Цель нормативных испытаний - это выявление рабочих качеств собаки: способность собаки к дрессировке, выработке определённых навыков, умение чётко выполнять поставленные задачи при несении разных видов службы в различных условиях. Соревнования по нормативам призваны определить лучших из собак, которые имеют отличные характеристики по служебным качествам и передаче этих качеств потомкам. Таким образом, участвовать в племенном разведении могут только собаки, имеющие диплом ОКД (российская система испытаний РКФ) либо диплом IPO-1 (международная система испытаний FCI).
		+e.items
			-
			each item in arrNormotive
					+e.item
						+e.img
							+e.dark
							img(src=item.img, alt="")
						+e.text
							h3= item.name
					+b.fullinfo
						+e.P.title= item.name
						+e.P.text= item.fullInfo
						+e.cross
							img(src="img/cross.svg")